<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('head'); %>
    <style>
        .form-container {
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(181, 182, 117);
            border-radius: 20px;
            padding: 100px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            }
    </style>
</head>

    

<body>
    <body style="background-color: rgb(181, 182, 117);"> 
        <div class="container my-5">         
        <h1 class="text-center"> Cadastro </h1>
        <div class="form-container">
        <form action="/create" method="POST">
            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" class="form-control" id="name" name="nome">
            </div>
            <div class="form-group">
                <label for="usr">Email:</label>
                <input type="Email" class="form-control" id="usr" name="email">
            </div>
            <div class="form-group">
                <label for="pwd">Senha:</label>
                <input type="password" class="form-control" id="pwd" name="senha">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        <button><a href="/" class="material-icons ">arrow_back</a></button>
    </div>
    <br>
</body>

</html>